{% extends "template_blog_home.html" %}

{% block content %} 

<div class="post-content" data-aos="zoom-in" data-aos-delay="200">
    <div class="post-image">
        <div>
            <img src="https://drive.google.com/uc?export=view&id=10JTgXWjjiDxhS0-JgKhzohy2R2I3cTIh" class="img" alt="blog1">
        </div>
        <div class="post-info flex-row">
            <span><i class="fas fa-user text-gray"></i>&nbsp;&nbsp;Karthik Ramesh</span>
            <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;20th April, 2021</span>
        </div>
    </div>
    <div class="post-title">
        <a href="#">The end of Moore’s law and the future alternative to traditional computing</a>
        <p style="text-align:justify;" >A few years ago, every new generation of processors always offered a pretty significant jump in processing power.
            Nowadays every successor is akin to its predecessor.
            To illustrate the above point, let’s take a look at Moore’s law. The term ‘Law’ seems to grow weaker as the years
            grow by, but the statement given by Gordon Moore predicts the exponential growth of computing power. Back in 1965,
            Gordon Moore, co-founder of Intel, observed that the number of transistors on a one-inch computer chip double every
            year, while the costs halve.
        </p>
        <a href="{% url 'page1.1' %}">
        <button class="btn post-btn">Read More &nbsp; <i class="fas fa-arrow-right"></i></button>
        </a>
    </div>
</div>

<!-- ----------------------------------------------------------------------------------------------- -->
<div class="post-content" data-aos="zoom-in" data-aos-delay="200">
<div class="post-image">
    <div>
        <img src="https://isg-one.com/images/default-source/default-album/digital-privacy.tmb-th1190-446.jpg?sfvrsn=69b3c631_0" class="img" alt="blog1">
    </div>
    <div class="post-info flex-row">
        <span><i class="fas fa-user text-gray"></i>&nbsp;&nbsp; Sachin Kumar Gupta</span>
        <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;15th April, 2021</span>
        
    </div>
</div>
<div class="post-title">
    <a href="#">What is Digital Privacy and Why Does it Matter?</a>
    <p style="text-align:justify;" >The 21st century is also known as the Information Age and ever since the advent of this 
        Information Age along with the internet, data and information have equally contributed to the advancement of technology. 
        With the advancing technology, data and information are getting more and more important for both, the service providers and the users. 
        There is no doubt that technology is helping humans in achieving things which earlier nobody thought of and is making their lives easier 
        and better. But this growth in technology is often characterized by an unprecedented proliferation of communication and availability of 
        information. However, the abundance of information also raises questions about the ethical value of digital privacy.
    </p>
    <a href="{% url 'page1.2' %}">
    <button class="btn post-btn">Read More &nbsp; <i class="fas fa-arrow-right"></i></button>
    </a>
</div>
</div>
<!-- --------------------------------------------------------------- -->

<!-- ----------------------------------------------------------------------------------------------- -->
<div class="post-content" data-aos="zoom-in" data-aos-delay="200">
    <div class="post-image">
        <div>
            <img src="https://drive.google.com/uc?export=view&id=1-OKmqTX5H1EvscDjmO0N3Qrzpf4A-3nS" class="img" alt="blog1">
        </div>
        <div class="post-info flex-row">
            <span><i class="fas fa-user text-gray"></i>&nbsp;&nbsp;Abhishek Rawal</span>
            <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;10th April, 2021</span>
            
        </div>
    </div>
    <div class="post-title">
        <a href="#">Internet of Things (IoT) "Making Things Think"</a>
        <p style="text-align:justify;" >Internet of Things (IoT) the name itself describes millions of devices that are mutually connected and sharing data.
            It has served many purposes in the past, present and will play a prominent role in the upcoming industrial
            revolution. It is a network that binds the physical world to the digital world.
        </p>
        <a href="{% url 'page1.3' %}">
        <button class="btn post-btn">Read More &nbsp; <i class="fas fa-arrow-right"></i></button>
        </a>
    </div>
</div>
<!-- --------------------------------------------------------------- -->
<div class="post-content" data-aos="zoom-in" data-aos-delay="200">
    <div class="post-image">
        <div>
            <img src="https://drive.google.com/uc?export=view&id=19S3IDKr0hNmx3ZO4U00cLJ4zmnzQJArG" class="img" alt="blog1">
        </div>
        <div class="post-info flex-row">
            <span><i class="fas fa-user text-gray"></i>&nbsp;&nbsp;Karthik Ramesh</span>
            <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;21st March, 2021</span>
            
        </div>
    </div>
    <div class="post-title">
        <a href="#">Unmanned Systems in Information Warfare</a>
        <p style="text-align:justify;">You might have used or at least thought of using a drone to take epic vacation shots or to make super cool videos,
            but what if I tell you to think big? What if I tell you that a drone can change the way people and goods are
            transported? And at this point in time, take your thinking caps on and think of an era where we don’t need roads to
            travel! What if I tell you the design philosophy YOU should be using for YOUR drone projects?
        </p>
        <a href="{% url 'page1.4' %}">
        <button class="btn post-btn">Read More &nbsp; <i class="fas fa-arrow-right"></i></button>
        </a>
    </div>
</div>

<!-- ----------------------------------------------------------------------------------------------- -->
<div class="post-content" data-aos="zoom-in" data-aos-delay="200">
    <div class="post-image">
        <div>
            <img src="https://drive.google.com/uc?export=view&id=12IdI-ws0N7YJgEfdL7P2ka4ykrRkcaN5" class="img" alt="blog1">
        </div>
        <div class="post-info flex-row">
            <span><i class="fas fa-user text-gray"></i>&nbsp;&nbsp;Karthik Ramesh</span>
            <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;21st March, 2021</span>
            
        </div>
    </div>
    <div class="post-title">
        <a href="#">Regenerative Braking: Theory and application</a>
        <p style="text-align:justify;" >
            Mankind has been at the art of mastering transportation for over half a millennium now. 
            The problem with all was that the machines necessary to provide the mechanical energy to move 
            them were massive and required high maintenance. Since transportation was a necessity, 
            mankind needed to further simplify it and the solution was found in the internal combustion 
            engines that were commercially viable developed by Nikolaus Otto and Étienne Lenoir. 
           
        </p>
        <a href="{% url 'page1.5' %}">
        <button class="btn post-btn">Read More &nbsp; <i class="fas fa-arrow-right"></i></button>
        </a>
    </div>
</div>

 <!-- ----------------------------------------------------------------------------------------------- -->
 <div class="post-content" data-aos="zoom-in" data-aos-delay="200">
    <div class="post-image">
        <div>
            <img src="https://drive.google.com/uc?export=view&id=1Lego0perkAqmY7DdOiWBfFYPbDFqkT0Y" class="img" alt="blog1">
        </div>
        <div class="post-info flex-row">
            <span><i class="fas fa-user text-gray"></i>&nbsp;&nbsp;Ishan Mistry</span>
            <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;21st March, 2021</span>
            
        </div>
    </div>
    <div class="post-title">
        <a href="#">Quantum Cryptography</a>
        <p style="text-align:justify;">Let’s begin by playing two truths and a lie...<br>

            Number 1:- Remember Christopher, the Enigma codebreaking machine from ‘The imitation game’? <br>
            What if I were to tell you that we are not that farfetched from such technology that can literally crack ANY code?<br>
            
            The current encryption, on a laymen level, can be understood as a naïve lock and key setup that we use. 
            Let's suppose you're the pizza guy: angels in uniforms, one reason - one word - pizza. Let's suppose I want to 
            make a secret special pizza order to you (the reader). 
            
        </p>
        <a href="{% url 'page1.6' %}">
        <button class="btn post-btn">Read More &nbsp; <i class="fas fa-arrow-right"></i></button>
        </a>
    </div>
</div>
{% endblock %}