{% extends "page_base.html" %}

{% block title %} The New Gaming Battlefield - AR & VR
{% endblock %}

{% block cover_image %}
<img src="https://drive.google.com/uc?export=view&id=1GtSEnRfIwIq13TJvLRM1U5R-F97gphU0" class="img" alt="blog1">

{% endblock %}

{% block author %} Namya Vyas {% endblock %}

{% block date %} 1st August, 2021 {% endblock %}

{% block heading %}
The New Gaming Battlefield - AR & VR

{% endblock %}

{% block content %}
<p>
    The most novel advancement in multimedia and graphics is Augmented Reality and Virtual
    Reality. It is also making great headlines in the domain of gaming. So what is all the buzz about?
    What exactly are AR and VR ? How do they work ? How is it related to gaming? If you are a
    gamer and a geek then this article is right up your alley !

</p>
<h2>
    Why discuss AR and VR in the domain of gaming?
</h2>
<p>
    Surely you would think that why is there a whole article related to this only, well the answer is
    simple. The growth of online gaming platforms has exponentially increased since the pandemic
    as people are forced to stay in their homes, consequently increasing online gaming to which AR
    and VR have pulled it to a next level. According to the latest report of Google-KPMG, the online
    gaming industry in India is expected to display growth of $1 billion in 2021 which was $360
    million in 2017.Not only in India but even the global market has increased a lot using AR and VR.
    The Market for only AR and VR for Gaming is forecast to reach $11.0 billion by 2026, growing at
    a CAGR of 18.5% from 2021 to 2026. AR and VR are considered to seamlessly offer the most
    exciting emerging technologies on the planet for today’s life.
</p>
<img src="https://drive.google.com/uc?export=view&id=1GtSEnRfIwIq13TJvLRM1U5R-F97gphU0" class="img" alt="blog1">
<h2>
    What is Augmented Reality ?

</h2>
<p>
    Augmented reality (AR) is an enhanced version of the real physical world that is achieved
    through the use of digital visual elements, sound, or other sensory stimuli delivered via
    technology. It involves overlaying visual, auditory, or other sensory information onto the world
    in order to enhance one's experience. In simple words it can be said that “something virtual” is
    implanted on the real world frame from your camera. I bet you must have heard about
    Pokémon go!, Google sky map and SpotCrime. These are the most famous examples of AR being
    used in the gaming industry. Other than that it is also used in the medicinal domain it aids in
    surgery planning and patient treatment and helps explain complex medical situations to
    patients and their relatives
</p>

<img src="https://drive.google.com/uc?export=view&id=1vX_e6QzWjVOlR_fGsRFx2dAWBKfaTTjM" class="img" alt="blog1">

<h2>
    Impacts of Augmented Reality in Gaming industry :
</h2>
<p>
    AR in gaming basically uses the existing environment and enhances it by creating a virtual
    playing field within it. So AR games are mostly played on mobiles or tablets due to their ease of
    portability. This technology has experienced its popularity most in the gaming industry.
    The foremost effect of AR is that it makes the games even more appealing. The developers using
    AR can make the player get the real world feel from the game. It uses computer-generated
    objects and implements them amongst real-world elements to create an engaging and thrilling
    experience. It has given the game a lot more real- life effect and thus helps the player connect
    more to the game as everything feels real. Incredible growth in this field is helping to create
    innovative engaging games and is contributing to the growth of the industry as a whole.
    AR has also replaced traditional gaming leading to unfold a whole new page of the gaming
    development industry. AR has occupied a special place in the burgeoning mobile gaming world.
    Near about 50% of global game market apps display no sign to lift-up as the handset that comes
    incorporated with the built-in camera which serves as a great source of Augmented Reality
    gaming. The rising demand for AR in mobile gaming as well as the larger world of gaming will
    drive the market growth.
    You can also map out the AR progress in the following chart :
</p>

<img src="https://drive.google.com/uc?export=view&id=1FZTQIGBKJxpB_T4ZfBk7qOXBnigNs54n" class="img" alt="blog1">
<h2>
    How does Augmented Reality work?
</h2>
<p>
    Augmented Reality mainly involves merging of the digital world and visual real world. So the
    primal requirement for an AR is a camera equipped device such as a smartphone, a tablet, or
    smart glasses with the AR software in it. AR software mainly recognizes a physical object from
    analyzing a video stream. It identifies the object from its shape or the marker attached to it.
    Next, the software connects with a 3-D facsimile of this object on cloud aka “Twin of the
    object”. The physical object also has sensors on it which send the data processed on the cloud.
    This data may be combined with either data from the other database server or from any other
    external source to the “digital twin”. The AR software will retrieve the data from the twin on the
    cloud and then it will superimpose it on the user’s view. The data can be anything such as
    performance data of the object and in the case of the gaming it can be interaction instructions
    with the simulations created. Later in the process the user interacts with the object by sending
    commands through a touchscreen or voice commands or hand gestures. These commands are
    then received by the cloud and then implanted to the real world object.
</p>
<img src="https://drive.google.com/uc?export=view&id=18Z6PuSL79At_D0VnS27dUA7EF0-M2gU0" class="img" alt="blog1">
<h2>
    Softwares used for Augmented reality in game development:
</h2>
<p>
    Some of the popular SKDs (software development kit) used for AR in gaming are:
</p>
<ol>
    <li>
        <p>
            ● Vuforia : It is the top most AR skd used, the reason being that it supports both
            marker-based and markerless AR. It was introduced by the renowned Qualcomm itself,
            and it contains it’s base library written in the C++ language (QACR library). This open
            source software works for both iOS and Android applications hence further securing its
            place in the top section.
        </p>
    </li>
    <li>
        <p>
            ● Wikitude : Another popular software framework used for the AR that also incorporates
            geolocation, cloud recognition and distance-based scaling features. It was recently found
            in 2008 and is already equal to the Vuforia. Javascript API is used by the developers for
            wikitude. In fact wikitude, an early comer, has already spurred up debates as to which is
            better Vuforia or Wikitude.
        </p>
    </li>
    <li>
        <p>
            ● ARKit : ARKit is Apple’s AR framework for iOS apps and games. The software relies on
            camera sensor data and additional data (e.g. from a gyroscope and accelerometer) to
            detect and analyze users’ surroundings for AR visualization. ARKit also supports fast
            motion tracking, face tracking, and various rendering effects. One of the key features of
            ARKit is that it can share the AR experience with other users which allows creating
            multiplayer AR games.
        </p>
    </li>
    <li>
        <p>
            ● ARCore : Now one can also think of this as Google's response to the ARKit. Along with
            the standard AR features ARCore also offers multiplayer feature just like ARKit as well as
            augmented images (custom responses to specific types of 2D shapes and objects). A 3D
            model created via ARCore can react to the changes in the lighting volume and even
            generate shades. ARCore is also compatible with Vuforia which means that we can
            benefit from both the softwares at the same time! It works on Java/Open CGL .
        </p>
    </li>
</ol>
<p>
    Evidently virtual reality is different from Augmented reality, the main difference being that AR
    enhances the real world while virtual reality creates a whole artificial new world around the
    user. Do not confuse them like this old dude over here :
</p>
<h2>
    What is Virtual Reality ?

</h2>
<p>
    Virtual reality (VR) refers to a computer-generated simulation in which a person can interact
    within an artificial three-dimensional environment using electronic devices, such as special
    goggles with a screen or gloves fitted with sensors. Through this newly generated artificial
    environment the user can also look up , down or any way and feel as if they are really there. Let
    us understand this with an example: How do you know where you are? How do you
    differentiate between a garden and a restaurant? Now you’ll say that a garden has flowers to
    smell and open grounds to see while a restaurant has a variety of food smelling. We apprehend
    the world around us using the primary senses of our body like the eyes, ears, touch, smell etc.
    virtual reality tries to create an illusion for all these senses in the most convincing way that it is
    almost a reality. So this way the person can view, touch, feel, hear and sense the elements of
    the game. It is almost as if the person is inside the game itself. Virtual reality can be very cogent
    which is also portrayed by the famous dialogue from the Matrix movie by Morpheus, “What is
    real. How do you define real? If you're talking about what you can feel, what you can smell,
    what you can taste and see, then real is simply electrical signals interpreted by your brain.” So
    even virtual reality is real. What do you think?
    VR has made an equal breakthrough in the gaming industry. The popular Minecraft is the best
    example of VR.
</p>

<img src="https://drive.google.com/uc?export=view&id=1W4SlKC4nGmtc6RLPUmsygINvlkiACyiV" class="img" alt="blog1">
<h2>
    Impacts of Virtual Reality on gaming industry
</h2>
<p>
    Virtual reality has helped in bringing different players together from all around the world and
    make them feel like they are playing in the same field. VR has created a new age of gaming
    which makes the player a part of the game itself by creating the world of the game before the
    player’s eyes. VR has also increased the range of the age of the audience that was initially
    targeted for video gaming purposes and once this new audience is captured then VR brands can
    have a chance to sell their products, institution names; thus, a brand becomes linked with
    cutting edge within gaming tech. According to the recent survey conducted, the global revenue
    of VR in the gaming sector had increased to $4.3 billion in 2015. Then VR Headsets were
    introduced to the market by early 2016. This resulted in more demand for VR games. Using a VR
    headset like Oculus Rift people are excited to experience the 3D creatures in the
    computer-generated virtual environment. The virtual reality in the gaming market is expected to
    grow now, at a CAGR of 32.75% over the forecast period (2021 - 2026). And the main companies
    involved in the same are Oculus VR (Facebook Technologies LLC), HTC Vive, Valve Corporation,
    Intel Corporation, Virtuix Omni, Nintendo Co Limited, Microsoft Corporation, Samsung
    Corporation and the one and only jack of all trades Google LLC. The expected market growth
    from 2017 to 2024 can be observed in the chart given below -
</p>

<img src="https://drive.google.com/uc?export=view&id=1hwRnD1nb3aG2BrbUpZPIQL4CohzW9s4U" class="img" alt="blog1">
<h2>
    How does Virtual Reality work?
</h2>
<p>
    Unlike AR, working of VR involves both hardware and software in sync with each other. The
    software deals with creating the new environment, while the hardware helps in not only
    viewing the environment but also do changes inside the simulation. More than that VR requires
    several devices such as a headset, a computer/smartphone or another machine to create a
    digital environment, and a motion-tracking device in some cases. A simple example of this are
    the games, where a headgear attached with HDMI cables help transfer images from the box.
    Typically, a headset displays content before a user’s eyes, while a cable (HDMI) transfers images
    to the screen from a PC. The alternative option is headsets working with smartphones, like
    Google Cardboard and GearVR – a phone that acts both as a display and a source of VR content.
    The whole user interaction in the VR can be divided in three parts :
    <br>

    <u>Head tracking</u>:The head tracking system in VR headsets follows the movements of your head to
    sides and angles. It assigns the X, Y, Z axis to directions and movements, and changes the field of
    vision as a person turns their head. Head tracking requires low latency, i.e. 50 milliseconds or
    less, otherwise, users will notice the lag between head movements and a simulation.
    <br>
    <u>Eye tracking</u>: Some headsets contain an infrared controller that tracks the direction of your eyes
    inside a virtual environment. The major benefit of this technology is to get a more realistic and
    deeper field of view.
    <br>

    <u>Motion tracking</u> : Though not engineered and implemented well enough yet, motion tracking
    would raise VR to a totally new level. The thing is, that without motion tracking you’d be limited
    in VR – unable to look around and move around. Through concepts of the 6DoF (six degrees of
    freedom) and 3D space, options to support motion tracking fall into 2 groups, optical and
    non-optical tracking. Optical tracking is typically a camera on a headset to follow the
    movements, while non-optical means the use of other sensors on a device or a body. Most of
    the existing devices actually combine both options.
</p>
<h2>
    Softwares used for Virtual reality in game development:
</h2>
<p>
    Some of the famous SDKs used in the VR are :
<ol>
    <li>
        <p>
            ● Unity : Unity is by far one of the most ubiquitous of tools being used today for VR
            development. At its heart, it's a game engine. It has a direct VR mode to preview your
            work in an HMD (Head Mounted Display) which can really boost productivity by
            designing for VR within a virtual environment.
        </p>
    </li>
    <li>
        <p>
            ● Unreal Engine 4 (UE4) : Another VR development software and works just debately good
            equal to Unity. Many of the VR demos built with UE4 are much more life-like and
            smoother to navigate within.With UE4, you can build VR apps that will work on a variety
            of VR platforms, e.g., Oculus, Sony, Samsung Gear VR, Android, iOS, Google VR, etc.
        </p>
    </li>
    <li>
        <p>
            ● Blender : Next comes this novel software which is not only open source and free but also
            works on the most commonly used high-level language i.e python. It also supports all
            the basic platforms - Windows , Mac and Linux. Due to these benefits the Blender is
            rapidly becoming the favorite of the developers and a mass community of developers
            uses it.
        </p>
    </li>
</ol>
</p>
<h2>
    Are there any similarities between AR and VR ?
</h2>
<p>
    When we talk about AR and VR both simultaneously it’s like replacing reality verses adding
    real-life elements to the real world. After reading the whole article, it is assured that you can
    distinguish between AR and VR. What are the similarities between them then ? A few of them
    are discussed in this section of the article -
    Both of them involve the 3D content display. Both offer immersion to the user. In case of AR
    Hand, eye, finger, body tracking, and motion tracking on advanced AR headsets while in VR all
    the same is done using VR headsets. Equipment required are same for both that are -
    Smartphone, AR/VR headsets, PCs, tablets, iPads, lens, controllers, accessories. Although two
    different aspects of gaming both offer a lot of new ways of gaming to the industry and require
    equal need of advancements.
</p>

<img src="https://drive.google.com/uc?export=view&id=1vNrnAaOFGLpcvuU_7wswlH6-j4NJq487" class="img" alt="blog1">

<p>
    You can check out these videos on AR and VR being used in not just gaming but other
    domains as well :
</p>
<ol>
    <li>
        <p><a href="https://bit.ly/3zXW7kn" target="_blank">
                1) Link 1
            </a></p>
    </li>
    <li>
        <p><a href="https://bit.ly/2TOXF0W" target="_blank">
                2) Link 2
            </a></p>
    </li>
    <li>
        <p><a href="https://bit.ly/3xgZC3V" target="_blank">
                3) Link 3
            </a></p>
    </li>
    <li>
        <p><a href="https://bit.ly/2V8SWYn" target="_blank">
                4) Link 4
            </a></p>
    </li>
</ol>

{% endblock %}
