{% extends "Blog/base.html" %}

{% block title %} Internet of Things (IoT) "Making Things Think" {% endblock %}

{% block cover_image %}
<img src="https://drive.google.com/uc?export=view&id=1-OKmqTX5H1EvscDjmO0N3Qrzpf4A-3nS" class="img" alt="blog1" />
{% endblock %}

{% block author %} Abhishek Rawal {% endblock %}

{% block date %} 10th April, 2021 {% endblock %}

{% block heading %}
Internet of Things (IoT) "Making Things Think"
<style>
    h2 {
        color: azure;
    }

    p {
        color: azure;
    }
</style>
{% endblock %}

{% block content %}
<h2>What is the Internet of Things (IoT)?</h2>
<p>
    Internet of Things (IoT) the name itself describes millions of devices that are mutually connected and sharing data.
    It has served many purposes in the past, present and will play a prominent role in the upcoming industrial
    revolution. It is a network that binds the physical world to the digital world.
</p>
<br><br>
<img src="https://drive.google.com/uc?export=view&id=14f89FiWtUszt32g2YAnuKig6IO2IJhlB" alt="blog1" />
<br><br>
<h2>How IoT works?</h2>
<p>
    Well, IoT isn't any rocket science, if a person has a technical background and is familiar with computational
    programming; it takes him just a little time to understand the concept. Pretty much any device can be transformed
    into an IoT device; it just needs some sensors and a program/code for working in the desired fashion. It can be
    optimized according to the user’s usage and comfort.
</p>

<p>
    For instance, let's take the example of a the refrigerator as an IoT device. Here, we are very well aware of what a
    traditional refrigerator does; it keeps the content cool and fresh, also it might have some power saving technology
    in the advanced ones or some other controlling stuff, well it's all for traditional refrigerators. The main focus of
    technology is to reduce the human efforts and IoT makes it easier to work towards it.
</p>
<br><br>
<img src="https://drive.google.com/uc?export=view&id=12gaehsaMgWsLY6Ac97RbUYlrLU40vXhJ" alt="blog1" />
<br><br>
<p>
    Imagine if your refrigerator would take a note of ingredients stored in it and notify you before you fall short of
    any or it just orders the item by itself directly from the online available sources. Such as if you are short of
    milk but are unaware about that, then your refrigerator will notify the nearby shop and you get a milk pouch the
    next morning at your door steps. Or something like your refrigerator notifies you about the approaching expiry date
    of an item. Or it may even suggest you to go to a nearby store where sale is going on!
</p>

<p>
    Well it isn't just limited to neither this nor our imagination, these features are practical and all this is
    possible via IoT platform. IoT can be implemented to any device, all you need is a list of sensors according to the
    device's application, microcontrollers and good internet connectivity and some computational intelligence that is.
    It is not a computer but has some considerable computational powers such as it runs computational programs on it.
    Such interfaces of sensors and microcontrollers make up the IoT devices.
</p>

<h2>IoT devices versus Computers</h2>
<p>
    Well, computers and IoT devices have some common features but both have different functions. Here we compare and
    differentiate some features IoT devices. So one main difference between IoT devices and standard computers (laptop,
    desktop etc.) is the function of IoT devices is not to compute. Computers also support parallelism because of the
    multiple cores. On the other hand, IoT has some specific functions other than a computer.
</p>

<p>
    Let us take the example of a car; a car comes with many functions such as an anti-lock braking system etc. But the
    main function from the point of view of a user is to drive it, to move from one place to another and not to compute.
</p>

<p>
    Same in case of IoT devices, they are designed to perform a specific task at a time with accuracy. On the other hand
    computers are designed to perform multiple general tasks at same time. Example you can play games while chatting and
    there may also be some downloading task going on in the background. We can also say that computers are general
    purpose devices whereas IoT devices are specific purpose devices. If we talk about programming both computers and
    IoT devices are capable of running programs on it but in case of computers there are multiple codes of different
    languages running at same time whereas in case of IoT devices there is one specific program running on its processor
    dedicated to a specific task.
</p>
<br><br>
<img src="https://drive.google.com/uc?export=view&id=14uk4sLHDg3eOZ7Runic8ZDVmjkX55_vI" alt="blog1" />
<br><br>
<p>
    Also it is easy to observe hardware difference of IoT device and computers, computers are usually larger devices as
    compared to IoT devices, computer devices can be laptops, desktops or mobile phones which are nowadays considered as
    pocket computers, whereas IoT devices are smaller in size and cheaper in price example; fit-bit wrist bands or
    blue-tooth headsets which come with Google assistance and there are millions of device similar to that.
</p>
<h2>Trends in the adoption of IoT</h2>
<p>
    Trend is all about setting a new tradition. Whenever any new trend is set, people tend to follow it all across the
    globe. It gradually gives rise to new sort of technology. So there are lots of different trends that have led to
    incorporation of IoT tech into otherwise mundane devices. It sort of had an exponential rise over the years, but now
    there's a convergence where the situation is right. One of the most considerable trends is cost. It is straight away
    the cost of the device. We all are in an era where we are witnessing considerable downfall in the cost of
    computational technology.
</p>
<p>
    The machines which were available in 1945, the very first ones in the market were priced at almost half a million,
    compared to which the computers and laptops available today cost very less. Now very capable laptops are available
    for $500. IoT devices are even cheaper than this.
</p>
<br><br>
<img src="https://drive.google.com/uc?export=view&id=1o7y278sC0_dBYtOTQmQLXz7g0Xz0GbCO" alt="blog1" />
<br><br>
<p>
    Imagine in 1945 you asked for a smart car, ENIAC (one of the earliest computers) which almost costs $500000, then
    would be fitted in your car however today this is very practical and a lot cheaper and also it's in reach of almost
    all the people. Another important and captivating trend is size, if you see ENIAC it is massive in size it
    approximately covers 1800 square feet and weighs 27 tons! Any laptop today is compact and can be carried in a bag.
    Also we got mobile phones which are pocket sized, however IoT devices can be smaller than computers and mobile
    phones such as smart watches or fit-bit bands which can be wrapped around the wrist. Now if we talk of some
    technical trend it has to be computational power. Talking about ENIAC, it processed 5000 commands per second and
    nowadays even the standard laptops process 18 billion commands per second easily. In fact one can implement a lot
    more on it. For instance take speech to text function which is very common in smart phones well it's no way for 5000
    commands per second. However IoT devices might fall behind computers as they carry out specific tasks rather than
    general tasks.
</p>
<p>
    Now the trend which formed a base for IoT technology is perennial internet connectivity. It is of utmost importance
    for computation and IoT. This trend has been set recently as earlier internet connections weren't in reach to
    everyone, along with which it had many factors such as geographical location, economic factors and many others but
    this situation is handled very well and now it is listed in basic utilities of humans and has set a trend for all
    IoT devices.
</p>
<h2>Is IoT part of the industrial revolution?</h2>
<p>
    IoT has undeniably contributed a lot to the industrial revolution and the same has been witnessed through the boost
    in the pace of technology and the advancements in it. The things which we could have only imagined a few years ago
    are a part of major businesses in the technical field now. Industry 4.0 or 4th generation industrial revolution
    developed a new phase, where the focus is mainly on interconnectivity, automation, machine-learning and real-time
    data and its analysis. Industry 4.0 is also referred to as IoT (industrial internet of things). It can also be said
    that there was an industrial emergency which gave birth to the industry 4.0 revolution. All companies and major
    firms around the world faced the most common challenge of connectedness. I.e. Access to real-time data across
    different processes and connections with partners in remote areas as well as the manufacture and sales of products
    and also services for consumers/users of their product. Hence it was the perfect time to give birth to the
    Industrial revolution 4.0.
</p>
<br><br>
<img src="https://drive.google.com/uc?export=view&id=1yQp9bWeYPz-NeiCRNSL1_VIN1ZMppirK" alt="blog1" />
<br><br>
<p>
    Industry 4.0 isn't just about new technology or tools to optimize in order to improve manufacturing efficiency; it
    actually aims to revolutionize entire business and related operations. And IoT isn't just one of the pillars of
    industry 4.0; it is in fact the biggest factor of industry 4.0. With the help of IoT companies can do predictive
    analysis about the processes, devices and services. For example, in a factory consisting of machinery which requires
    high maintenance and is prone to damages, an IoT system can be setup which can monitor the machinery and inform the
    authorities prior to any major damage. Since repairing it would be cheaper than replacing it.
</p>
<br><br>
<img src="https://drive.google.com/uc?export=view&id=1ttM0nFTn9y2i5MW9YzJFdxoz_A6MXUWj" alt="blog1" />
<br><br>
<p>
    The most important role of IoT in any industry is a secure connection between the partners, people and products. A
    business flourishes with the help of mutual connectedness with other firms. People get satisfaction through adequate
    and proper services. This has been observed many times that timely services help in flourishing the business which
    is the reason why many big companies such as Microsoft, Google, Amazon and many more have invested heftily in the
    Industrial revolution 4.0.
</p>
<h2>Societal benefits of IoT</h2>
<p>
    Let's talk a little bit about societal benefits of Internet of Things. The main aim is to make one's life easier.
    Let's take the example of internet banking which is growing rapidly in today's era, let there be some documents
    which are to be signed and the person is occupied with some other stuff, an IoT device can read it or can just
    notify the person that it needs to be signed or you should carefully read it before signing. IoT in many parts of
    the world has gained the trust of security for securing people’s accounts and data. Suppose there is some activity
    happening related to your account without your acknowledgement, it can notify you or even it can take befitting
    action against fraud activities.
</p>
<br><br>
<img src="https://drive.google.com/uc?export=view&id=19v7cxxMQOOYNRL8fRUkVmicmlUdnaRB0" alt="blog1" />
<br><br>
<p>
    IoT makes people independent, actually we get dependent on devices but it makes one independent of the conventional
    and unreliable sources. Let us understand this using an example, suppose you visited some place for the first time
    and you are not familiar with people and local language, there exist many devices which can be used such as
    translators, GPS maps and many more which make our travelling easier and less dependent on the local sources.
</p>
<p>
    There are many advantages of IoT, but do remember the debate over the use of technology and IoT is an everlasting
    one, so one should use technology wisely and never be over-dependent on anything.
</p>
<br><br>
<img src="https://drive.google.com/uc?export=view&id=1DcjKhOOk7HiZO98XkkoPxyEK87CBNR3q" alt="blog1" />
{% endblock %}