{% extends "page_base.html" %}

{% block title %} From Black and White to Green Screen Transition in Showbiz Business {% endblock %}

{% block cover_image %}
<img src="https://drive.google.com/uc?export=view&id=1eVFkuPBegn57tgxoeOxdGodLDW8WapwN" class="img" alt="blog1">
{% endblock %}

{% block author %} Mihir Trivedi {% endblock %}

{% block date %} 8th August, 2021 {% endblock %}

{% block heading %}
From Black and White to Green Screen Transition in Showbiz Business
{% endblock %}

{% block content %}
<h2>
    How technology has impacted modern film industry?
</h2>
<p>
    Originated in the 1800s, Cinema has certainly evolved uniquely, unlike any other industry. From the first film by Louis Le Prince in 1888 to Georges Méliès' Le Voyage dans la Lune (A Trip to the Moon) to Animation & much more, cinema has changed the perspective of how we perceive the world. Now, we no longer need to buy bulky, expensive cinema cameras to create content, we can do the same with our smartphones. We need not even go to the theatre to watch the movies; we can enjoy right at the comfort of our homes through OTT media service. Technology has advanced the film business from silent, black-and-white pictures to high-definition, colour films that can transport viewers to another world in a matter of seconds. Many technological advancements are being made in these tough times. So let me take you to this roller coaster ride of the filmmaking industry’s evolution.
</p>
<h2>
    Enjoyed Marvel movies ; here's an off screen breakdown for you ! 
</h2>
<p>
    Computer Generated Imagery (CGI) & Special Effects (VFX) are some of the pivotal things added to the post-production of the film. They not only enhance the pre-shot footage but can even alter it. Films have even been able to change the age of protagonists (notably in the X-Men Franchise), change the entire face of a person (Paul Walker’s brothers as doubles in Furious 7), etc. Films have a history of predicting future technology. Just as Ready Player One was able to achieve the concept of virtual reality, one can expect things might already be cooking.
</p>
<h2>
    Want a shot from sky , No need to call a helicopter ; drones are at your service !
</h2>
<p>
    Drones are common nowadays. They are actively used in indie movie projects & short films, not to mention full-grade feature films. We are fully aware of their advantages & the results from these are cinematic, movie-like shots, with the upshot of DJI leading the industry. With current tech, autonomous drones are the drones with machine learning (ML) & AI capabilities, more sophisticated than the present-day drones. These have a myriad of use cases ranging from Amazon-style deliveries to industrial work & also emergency search & rescue challenges. Many companies like Skydio have done extensive research in this tech & built robust systems to provide major filmmaking solutions for the various use cases possible.
</p>
<h2>
    Sitting on a couch at your home, no problem monsieur ; we can make you feel thy movie !
</h2>
<p>
    3D technology has been present for a long time, not to forget the infamous Nintendo’s Virtual Boy. Oculus is currently a major player in the industry with a growing demand for VR & AR technologies with a vast amount of content libraries for the same. There have been improvements in this case as well with Google-powered Yi Technology’s Yi Halo 17-camera beast capable of shooting 8K at 30fps / 5.8K at 60fps. Another great example would be LucidVR’s LucidCam, claimed to be the “first and only 4K 3D VR live production camera”.
</p>
<h2>
    No need for buying a whole cinematography camera ; where your phone can produce the same magic !
</h2>
<p>
    “Gear doesn’t matter, what matters is a skill.” I’m sure most of us must have heard this line. All the pros advise that one needs only a smartphone to shoot, one sure can. Unlike earlier, with the increasing use of a smartphone to make films (notably many Apple Short Films), new & improved shooting accessories are available in the market, including cages, lenses, tripods, gimbals, mics & more. Moment, a company experienced in selling Mobile Filmmaking Accessories, is quite a famous example, which provides some of the best gears to facilitate mobile filmmaking in the modern world.
</p>
<h2>
    
Captain Jack, let's capture the whole sea with a greater field of view !

</h2>
<p>Our eyes have a FOV (Field of View) of 114° horizontally, necessary for depth perception. Thus, we have the concept of Dual Camera VR. It has two cameras to provide the perception of a real, binocular-like viewing experience. Two Eyes VR has initiated & conceptualized this idea to a Kickstarter project of the same name, claiming “the world's first binocular 360° VR camera”.

</p>

<img src="https://drive.google.com/uc?export=view&id=1AlNhBeMsKjAL0vrMEQjfTUFH-EmZiMTo" class="img" alt="blog1">
<h2>
    Experiencing the sky without being in the sky ? Yes. You have no idea what’s possible dear !
</h2>
<p>
    Drone Goggles are similar to the VR tech discussed above. They enable the user to experience the normal drone flight in a uniquely, immersive manner, through a first-person perspective. This has evolved into a new category known as FPV drones. These drones provide double the performance & acceleration from normal ones, with the added support of manual handling to reach speeds up to 140kph & still able to capture high definition photo & video content. This tech is highly useful in shooting aerial photography & cinematography. One recent highly anticipated example is the DJI FPV drone capable of 4K at 60fps with single-axis gimbal stabilization & 150° FOV for the goggles.
</p>
<h2>
    What if I told you that Castle Cinderella went dancing was built by software engineers, not the fairies ?
</h2>
<p>
    Algorithm Editing is concerned with a term called Database Cinema, which refers to effectively selecting scenes from a raw database of film & further compiling it to stitch together a narrative. While this sounds too complex, it is simply following a pattern/algorithm to edit footage through a plan. E.g., after every ten frames, switch from angle A to B. Many artists are opting for this method which makes for a nuanced, attractive & fluid edit of footage. This essentially means that by writing a program, the computer is editing the footage unassisted by the human counterpart. Pretty interesting, right? It might seem this concept hasn’t been widely adopted, however many organizations like Disney have implemented their self-made editing algorithm. Some day-to-day applications using AI & ML have also been created to assist the user to edit videos on-the-go such as Quik by GoPro, a mobile photo/video editor to quickly compile & edit the same using these features.
</p>
<h2>
    Need Majolnir, Infinity Gauntlet , Cap’s shield or the mighty star wars armada, well I can print you one !   
</h2>
<p>
    3D printing has quickly emerged to be a one-stop solution to create anything, with the recent cases being complete houses that are 3D printed. Due to extreme advancements in this technology already, one can 3D print whatever one wants in their home since the hardware has been made affordable. This means some of the small accessories like clapboards, focus rings, various stands, grips & mounts, etc. can be made easily & inexpensively.
</p>
<h2>
    Author’s view 
</h2>
<p>
    Thus, these are some of the mightiest ( maybe avenger level) technological advancements which have been made or are increasingly emerging from previous models. Regardless of the pandemic covid-19, the film industry around the world is making continuous efforts to explore new avenues, improve their current solutions & strive towards a sustainable future.
</p>
{% endblock %}