{% extends "page_base.html" %}

{% block title %} The New Gaming Battlefield - AR & VR
{% endblock %}

{% block cover_image %} 
<img src="https://drive.google.com/uc?export=view&id=1GtSEnRfIwIq13TJvLRM1U5R-F97gphU0" class="img" alt="blog1">
       
{% endblock %}

{% block author %} Namya Vyas {% endblock %}

{% block date %} 1st August, 2021 {% endblock %}

{% block heading %}
The New Gaming Battlefield - AR & VR

{% endblock %}

{% block content %}
<h2>
    Every miniscule piece of information to keep yourself updated
</h2>
<p>


The most novel advancement in multimedia and graphics is Augmented Reality and Virtual Reality. It is also making great headlines in the domain of gaming. So what is all the buzz about?
If you are a gamer and a geek then this article is right up your alley !

</p>

<h2>Why discuss AR and VR in the domain of gaming?</h2>
<p>
    You would surely be amused to think that why is there a whole article on this specific topic, well the answer is simple. The growth of online gaming platforms has exponentially increased since the pandemic increasing online gaming to which AR and VR have pulled it to a next level. According to the latest report of Google-KPMG, the online gaming industry in India is expected to display growth of $1 billion in 2021 which was $360 million in 2017. Not only in India but even globally the market for only AR and VR Gaming is forecast to reach $11.0 billion by 2026, growing at a CAGR of 18.5% from 2021 to 2026.
    </p>

<h2>What is Augmented Reality ?</h2>
<p>
    
Augmented reality (AR) is an enhanced version of the real physical world that is achieved through the use of digitally overlaying visual elements, sound, or other sensory stimuli delivered via technology. In simple words it can be said that “something virtual” is implanted on the real world frame from your camera. I bet you must have heard about famous AR examples like Pokémon go!, Google sky map and SpotCrime. 

</p>

<h2> Impacts of Augmented Reality in Gaming industry : </h2>
<p>
   
AR in gaming uses the existing environment and enhances it by creating a virtual playing field within it. The foremost effect of AR is that it makes the games even more appealing. The developers using AR can make the player get the real world feel from the game hence players connect more to the game. It uses computer-generated objects and implements them amongst real-world elements to create an engaging and thrilling experience. AR has also replaced traditional gaming, leading to unfolding a whole new chapter in the game development industry. The rising demand for AR in mobile gaming and the larger world of gaming as a whole will drive the market growth. 

</p>
<img src="https://drive.google.com/uc?export=view&id=16Qsxf8XwYWPMy0ntenA7L5QYpvVYG-p1" class="img" alt="blog1">
<p>Augmented reality global market size.</p>

<h2> Softwares used for Augmented reality in game development: </h2>
<p>   
Some of the popular SKDs (software development kit) used for AR in gaming are:
<ol>
<li><p>-> Vuforia: It is the top AR SKD used, the reason being that it supports both marker-based and markerless AR. This SKD of the renowned Qualcomm itself contains it’s base library written in the C++ language (QACR library). 
</p></li>
<li><p>-> Wikitude: Another popular software framework used for the AR that also incorporates geolocation, cloud recognition and distance-based scaling features using Javascript API In fact wikitude, being an early comer(2008), has already spurred up debates as to which is better Vuforia or Wikitude. 
</p></li>
<li><p>-> ARKit: ARKit is Apple’s AR framework for iOS apps and games. The software relies on camera sensor data and additional data (e.g. from a gyroscope and accelerometer) to detect and analyze users’ surroundings for AR visualization. Along with motion tracking, face tracking, and various rendering effects ARKit can also share the AR experience by allowing multiplayer mode. 
</p></li>
<li><p>-> ARCore: Now one can also think of this as Google's response to the ARKit. Along with the standard AR features ARCore also offers multiplayer features just like ARKit as well as augmented images (custom responses to specific types of 2D shapes and objects).
</p></li>
</ol>
</p>

<h2>
    What is Virtual Reality ?  
    </h2>
<p>Virtual reality (VR) refers to a computer-generated simulation in which a person can interact within an artificial three-dimensional environment using electronic devices, such as special goggles with a screen or gloves fitted with sensors. We apprehend the world around us using the primary senses of our body like the eyes, ears, touch, smell etc. VR tries to create an illusion for all these senses in the most cogent way that it is almost a reality. This is also portrayed by the famous dialogue from the Matrix movie by Morpheus, “What is real. How do you define real? If you're talking about what you can feel, what you can smell, what you can taste and see, then real is simply electrical signals interpreted by your brain.”  So even virtual reality is real. Your thoughts on the same? </p>

<h2>Impacts of Virtual Reality on gaming industry   </h2>
<p>According to a recent survey conducted, the global revenue of VR in the gaming sector has reached $4.3 billion in 2015. The introduction of VR Headsets like Oculus Rift in early 2016 resulted in an increased demand for VR games. The virtual reality in the gaming market is expected to grow steadily, at a CAGR of 32.75% over the forecast period of 2021 - 2026. And the primary companies involved in the same are Oculus VR (Facebook Technologies LLC), HTC Vive, Valve Corporation, Intel Corporation, Virtuix Omni, Nintendo Co Limited, Microsoft Corporation, Samsung Corporation and the one and only jack of all trades Google LLC. </p>
<img src="https://drive.google.com/uc?export=view&id=1EnvckNCDyN1Fvdm0jmwPAyZbxu-VbBx1" class="img" alt="blog1">
<p>Virtual reality (VR) gaming revenue from 2017-2024(estimated).</p>

<h2>Softwares used for Virtual reality in game development:</h2>
<p>
     
Some of the famous SDKs used in the VR are : 
<ul> 
<li><p>-> Unity: Unity is by far one of the most ubiquitous of tools that are being used today for VR development. At its heart, is a game engine. It has a direct VR mode to preview your work in an HMD (Head Mounted Display) which can really boost productivity by designing for VR within a virtual environment.
</p></li>
<li><p>-> Unreal Engine 4 (UE4): Another VR development software and works just debately good equal to Unity. Many of the VR demos built with UE4 are much more life-like and smoother to navigate within.With UE4, you can build VR apps that can work on a variety of VR platforms, e.g., Oculus, Sony, Samsung Gear VR, Android, iOS, Google VR, etc.
</p></li>
<li><p>-> Blender: Next comes this novel software which is not only an open source, free but also works on the most commonly used high-level language i.e python. It also supports all the basic platforms - Windows , Mac and Linux. Pertaining to these benefits the Blender is rapidly becoming the favorite of the developers.
</p></li>
</ul>
</p>

<h2>Author’s view : </h2>
<p>
    
When we talk about AR and VR both simultaneously it’s like replacing reality verses adding real-life elements to the real world. However both have been successful in giving birth to a new age of gaming that makes the player a part of the game itself by creating the world of the game before the player’s eyes. They have also enhanced the range of the target audience that was initially meant for video gaming purposes.  

</p>

{% endblock %}