{% extends "Blog/base.html" %}

{% block title %} Unmanned Systems in Information Warfare {% endblock %}

{% block cover_image %}
<img src="https://drive.google.com/uc?export=view&id=19S3IDKr0hNmx3ZO4U00cLJ4zmnzQJArG" class="img" alt="blog1" />
{% endblock %}

{% block author %} Karthik Ramesh {% endblock %}

{% block date %} 21st March, 2021 {% endblock %}

{% block heading %}
Unmanned Systems in Information Warfare
<style>
    h2 {
        color: azure;
    }

    p {
        color: azure;
    }
</style>
{% endblock %}

{% block content %}
<p>
    You might have used or at least thought of using a drone to take epic vacation shots or to make super cool videos,
    but what if I tell you to think big? What if I tell you that a drone can change the way people and goods are
    transported? And at this point in time, take your thinking caps on and think of an era where we don’t need roads to
    travel! What if I tell you the design philosophy YOU should be using for YOUR drone projects?
</p>
<p>
    Read along to know about this Drone Revolution and to know how these miniature flying objects came into the picture
    as a part of Information Warfare and how it will integrate our lives and sky!
</p>
<br><br>
<img src="https://drive.google.com/uc?export=view&id=1ZW1tN25q-MrsXrWKA3RX73FEyY9j-KJy" alt="blog1" />
<br><br>
<h2>An Eye in the Sky:</h2>
<p>
    Picture this as you read and discover the ‘The Spy’ that played an important role in preventing World War III! World
    War II had just ended and the world was left in a very peculiar position, there were two number ones; the Soviet
    Union and the USA. There could only be one at the top and this led to a series of events that led the world to
    witness the spectacle of the Cold War, where one would outdo the other at every step.
</p>
<br><br>
<img src="https://drive.google.com/uc?export=view&id=1kJIR483SCuaf1o72Qjl3pV8uDhWVc9GO" alt="blog1" />
<br><br>
<p>
    The Bay of Pigs invasion was the spark that started the fire. After the failed landing of Cuban exiles who were
    covertly financed and directed by the US government, tensions escalated. After this event, Soviet premier Nikita
    Khrushchev reached a secret agreement with Cuban premier Fidel Castro to place Soviet nuclear missiles in Cuba to
    deter any further advances from the USA. On 14th October 1962, two US spy planes took several photos of missiles
    being assembled and the US decided to take action and established a blockade on all naval routes to Cuba to stop the
    Soviets and again released a statement wherein they were very clear that an attack on any country in the Western
    Hemisphere, is an attack on the USA. Several other incidents occurred and because of the cautious nature of the two
    leaders, World War III was prevented.
</p>
<p>
    However, there was another unsung hero amidst this battle and it were those two US spy planes who gave the US
    information about the Soviets’ advances. In the early 1960s, the space program for the countries was still in its
    infancy and that there were no satellites. This meant that the only way to gather information was to send a
    reconnaissance aircraft to an enemy’s territory and in times when both countries were on the brink of war, getting
    caught was all that was needed to push them over the edge. Still, the United States sent a U2 spy plane to the
    Soviet Union to gather more information about its military. But the problem behind this operation was that these
    planes flew at a high altitude but were very slow and when the US sent one of these to the Soviet Union, they were
    easily tracked down and one of these planes was even shot down! The pilot and the wreckage were paraded around the
    Soviet Union as proof of western aggression. The answer to all of this was Lockheed’s SR71 Blackbird which was up
    until the 1980s invulnerable, it could fly at speeds of Mach 3.3 right near the edge of space and uses its
    incredible camera to peek into the Soviet territory and gather information. This came at a very high cost- due to
    the special design of these aircraft, they couldn’t take-off at full fuel and had to be refueled in mid-air, the
    operational costs to keep these aircrafts operation ready was close to 300 million for each aircraft and they
    weren’t able to provide real-time information. They were replaced by satellites and were retired from service, 60
    years later and it is still the fastest manned, air-breathing aircraft ever made!
</p>
<br><br>
<img src="https://drive.google.com/uc?export=view&id=1C6hiN1AV-KSsVwcUZ6xo8gWexCxbyXrm" alt="blog1" />
<br><br>
<p>
    The story of the SR71 Blackbird highlights the importance of gathering information. This aircraft was like none
    other ever built, it was the only plane able to maintain speeds of Mach 3.3 for several hours all thanks to its
    innovative turbo ramjet engines! And all of this was designed in less than a decade! All to gain deep insight into
    what the Soviets were up to.
</p>
<br><br>
<img src="https://drive.google.com/uc?export=view&id=1X3Y36db1nVXzfz6Oc3pGXH3z0T5d93Ky" alt="blog1" />
<br><br>
<p>
    Information warfare’s main objective is to gain information superiority over any adversaries. Manned warfare is soon
    to become history with the advancements in drone technologies, satellites and UAS (Unmanned aerial systems). At the
    forefront of information, warfare is UAVs (Unmanned aerial vehicles). These objects aren’t exclusively limited to
    gathering information but are now capable of carrying offensive payloads such as missiles. Modern UAVs are capable
    of carrying payloads up to 2,948kg, a maximum speed of 740kmph, and a range of 2,900km, they definitely are a force
    to be reckoned with.
</p>
<p>
    These drones have several advantages over aircraft with the primary ones being: Its lower cost (General atomics
    avenger costs 12-15 million dollars, while a fighter jet costs around 95 million dollars), human safety,
    multipurpose nature, a shorter land strip (an important feature in difficult terrains), ability to provide real-time
    information and their relatively small size.
</p>
<h2>The Drone Revolution</h2>
<p>
    Now that you know about the role of drones in Information Warfare and the incidents that led to its development,
    it’s now time to answer the questions that I promised you to provide. So now that enough has been said about the
    military aspect of drones, let’s go over stuff that will be useful to the readers of our beloved Kaleidoscope.
</p>
<br><br>
<img src="https://drive.google.com/uc?export=view&id=1kijR2d93IuIp9sxH-zeHrrBOkpJTgBs_" alt="blog1" />
<br><br>
<p>
    Drones have a very strong future in any country’s chapter; the US has the longest roadways in the whole world being
    6.58 million km long. The cost and time spent on building roads is a lot. A better option would be using the skies
    as there are no obstructions, no need to construct anything and is time-saving. Currently, all drones that are
    available for the civilian market are good for just clicking photographs or shooting videos, provided you have
    something to replace the obnoxious sound of the rotors.
</p>
<p>
    Let’s dwell deeper into this by answering Carl, who leads a simple life and is just like your regular Joe. Carl’s
    first question is, “Why do I need a drone?”
</p>
<p>
    To which I will answer, “Mate, ever wondered how much money the government spends to build a kilometer of the road?
    Of course, you wouldn’t, you are just a simple guy. It’s close to about 10-15crore rupees on average. And how much
    does air cost, please Carl answer me this? “I guess it’s free. But why are you asking me this?” replies a proud
    Carl.
</p>
<p>
    “It’s because you are a simple guy and you still have no idea where I am heading with this, drones fly in the air
    and you just need to spend money on building landing pads which will always be cheaper than roads. All that land and
    the money spent by our government can be spent on the parts that need investment such as our medical research
    facilities, our biochemical warfare organization because a virus has halted everything, dropped our economy, killed
    millions even when it is far less lethal than cancer.”
</p>
<p>
    “Whoa, I never thought that a simple step like investing and focusing on a sustainable drone market could save
    lives!” replies an amazed Carl.
</p>
<br><br>
<img src="https://drive.google.com/uc?export=view&id=1AMxewLMJ1gvKXwpNDCqcyZ8qmob2zYc4" alt="blog1" />
<br><br>
Now coming back to the technical stuff, drones are classified into:
<ol>
    <li>High Altitude Long Endurance (HALE) UAV,</li>

    <li>Medium Altitude Long Endurance (MALE) UAV,</li>

    <li>Tactical UAV,</li>

    <li>Small UAV, and</li>

    <li>Mini and Micro UAVs.</li>
</ol>
<p>
    For transportation purposes, a medium altitude long endurance model would suffice. These drones need to have a
    fixed-wing, because a rotary wing won’t be able to compete with it in terms of lift generation and cost of running.
    That’s why for long distance travel we sit on planes. They are less noisy too. Rotary wing drones also have a higher
    drag. So, unless and until VTOL (Vertical take-off and landing) is a necessity, it’s better to avoid it. For most
    engineers in the undergraduate level you won’t be building massive projects for the DRDO (don’t contradict me by
    using the movie Uri and if you believe that drone worked, then I have a lot of schemes in my backpack which you
    would be interested in) you would be working with small scale drones and in such a case a rotary wing drone will get
    the job done. Popular projects are multiple winged drones, which are suitable for carrying the weight of their
    components and a camera or a coaxial drone which is much more difficult to manufacture. It was amongst the first
    drones ever made, but were quickly dropped owing to their complex design.
</p>
<br><br>
<img src="https://drive.google.com/uc?export=view&id=1mJPrbGVQI1q5VLKpILMcx33EaCGt3s-0" alt="blog1" />
<br><br>
These drones have very interesting features, such as:-

<h2>Counter rotation is provided by the same power source.</h2>
<p>
    If you are like me, a Michael Bay fanatic, then you must love those brilliant helicopters spinning and crashing
    scenes, Aye? Such a failure occurs when the Torque experienced by the fuselage of the helicopter is imbalanced.
    Remember Newton’s law for equal and opposite forces? Turns out it holds good for torque too! So, when you try and
    spin something, you yourself would experience a torque. In a coaxial drone the counter torque is produced by
    rotating 2 rotors on the same power source, along the same vertical axis in an opposite direction.
</p>
<h2>Increased payload capacity due to more lift</h2>
<p>
    Thinking about how you can contribute to the electric power scene, well this is perfect long endurance operation
    because the chunky battery that you were finding a hard time to fit in your multiple rotor drone can be done very
    easily here!
</p>
<h2>More compact and heavy duty</h2>
<p>
    Increased lift means you can construct your drone out of metals Now, I hope you have a better idea about which
    drones to work on, which type of wing configuration would you be needing, and what design philosophy you should be
    using for YOUR projects! Almost all military drones are fixed wing in nature, due to their long distance and
    efficient mechanisms. But if all you want to do is click photos of your group from an awesome angle in the air and
    you are broke, you should use a multiple rotary wing drone. If you aren’t broke, I suggest you take a look at DJI’s
    Phantom series.
</p>
<br><br>
<img src="https://drive.google.com/uc?export=view&id=1LN_z4VNEiinmFwbJkC7VsPnLFqyPEWcX" alt="blog1" />
<br><br>
<p>
    Although we can always hope for a time when world peace is achieved and our defense services are no longer needed
    but until then investing in our information warfare infrastructure should be of prime importance to keep our nation
    safe and well informed. Currently, our country has a well-established partnership with Israel who is amongst the
    forefront runners in the UAV race. Our country also uses DRDO’s Nishant and in the near future we will be using many
    other prototypes such as Rustom for our armed forces.
</p>
<p>
    In the end the series of conquering various landscapes for mankind continues, we started with land, then water and
    now its turn to conquer the skies!
</p>
{% endblock %}